<!-- Main App Template -->
<div class="app-container">
    <nav class="main-nav">
      <div class="nav-brand">
        <a routerLink="/" class="brand-link">IdentiFlow</a>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"  *ngIf="!isLoggedIn"><a routerLink="/user-register" routerLinkActive="active-link">User Register</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/user-login" routerLinkActive="active-link">User Login</a></li>
        <li class="nav-item"><a routerLink="/user-profile" routerLinkActive="active-link">User Profile</a></li>
        <li class="nav-item"><a routerLink="/user-list" routerLinkActive="active-link">User List</a></li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="logout-btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nav>
  
    <main class="content-wrapper">
      <router-outlet></router-outlet>
    </main>
  </div>