<p>user-profile works!</p>

<div class="user-profile">
  <h2>User Profile</h2>
  <div class="profile-image">
    <img [src]="user.profileImage" alt="Profile Image" />
  </div>
  <div class="profile-details">
    <p><strong>Name:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.mobile }}</p>
    <p><strong>Status:</strong> {{ user.status }}</p>
   <p><strong>Password:</strong>{{user.password}}</p>

    <app-user-update [user]="user" (updated)="handleUpdate($event)"></app-user-update>
    <app-password-update [user]="user" (updated)="handleUpdate($event)"></app-password-update>
  </div>
    
</div>  