<p>user-list works!</p>

<table>
    <thead>
        <tr>
        <th>Profile Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Account Created At</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td><img [src]="user.profileImage" alt="Profile Image" /></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{user.status}}</td>
        <td>{{ user.createdAt | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>
            <app-user-update [user]="user"(updated)="handleUpdate($event)"></app-user-update> 
        </td>
        </tr>
    </tbody>
</table>    